.App {
  text-align: center;
}
button{
 background-color:white;
 margin-left: 5px;
 margin-bottom: 5px;
 width:25vw;
 height:10vh;
}
.button -md
{
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.card
{
  margin-top: 20px;
  background-color: antiquewhite;
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}
.text-2xl
{
  margin-bottom: 30px;
}
.button-right{
  text-align: center;
  margin-left: -200px;
}